extends ../base

block content
    form(method="post")
        input(placeholder="Old password")
        input(placeholder="New Password")
        input(placeholder="New Password Confirmation")
        input(value="Change Password", type="submit") 